PORT=3010

FRONTEND_URL=http://localhost:5173

VECTOR_SEARCH_LIMIT=3
VECTOR_DISTANCE_THRESHOLD=500
EMBEDDING_MODEL=nomic-embed-text

OPENAI_MODEL=gpt-4.1-mini
OPENAI_TEMPERATURE=0.2

OLLAMA_BASE_URL=http://localhost:11434
CHROMA_DB_BASE_URL=http://localhost:8000
OPENAI_API_KEY=sk-proj-your-openai-api-key